:root {
  --primary-color: #6d071a; /* Bordeaux */
  --secondary-color: #c3a6a0; /* Marron clair */
  --background-color: #f5e6e3; /* Beige rosé */
  --text-color: #483c32; /* Taupe */
  --accent-color: #b87333; /* Accent cuivré */
}
